@charset "utf-8";

@import url(./common.css);


header .header-wrapper {
  background-color: black;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0; left: 5.5%;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px;
  min-width: 1400px;
  margin: 0 auto;
  height: 64px;

}
header .header-wrapper h1{
  background: url(./web-사진/main/메인플스.png) no-repeat 0 50% / contain;
  text-indent: -9999px;
  width: 45px; height: 100%;
}
header .header-menu li{
  margin: 0 60px;
}
header .header-menu li:hover{
  color: #0070cc;
}
header .header-loge .face{
  background: url(./web-사진/logo/페이스.png) no-repeat 0 50% / contain;
  text-indent: -9999px;
  width: 50px; height: 100%;
}
header .header-loge .twie{
  background: url(./web-사진/logo/트위터.png) no-repeat 0 50% / contain;
  text-indent: -9999px;
  width: 50px; height: 100%;
}
header .header-loge .youtube{
  background: url(./web-사진/logo/유튜.png) no-repeat 0 50% / contain;
  text-indent: -9999px;
  width: 50px; height: 100%;
}
.Hogwarts{
  background: url(./web-사진/main/호그와트레거시.png) no-repeat 50% /contain;
  width: 100%; height: 702px ;
  text-indent: -9999px;
}
.PlayStation-new{
  background-color: #333;
  text-align: center;

}
.PlayStation-new h3{
  font-size: var(--font-size-18);
  color: orange;
}
.PlayStation-new .play-news{
  min-width: 1400px;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.PlayStation-new .play-news li{
  padding: 0 20px;
  width: 150px; height: 50px;
}
